.DS_Store

# Eclipse Core		
.project		

# JDT-specific (Eclipse Java Development Tools)		
.classpath		 

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/bin/.gitignore
/lib/.project
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.buildship.core.prefs
/.classpath
/SheetMusic.pdf
