.playButton{
	-fx-shape: "M 100 150 Q 100 250 100 350 Q 175 300 250 250 Q 175 200 100 150 ";
	-fx-background-color: white; 
}

.PauseButton{
	-fx-shape: "M 0 0 V 4 H 1 V 0 H 0 M 2 4 V 0 H 3 V 4 H 2";
	-fx-background-color: white; 
}

.replayButton{
	-fx-shape: "M 150.00,0.00
           C 67.16,0.00 0.00,67.16 0.00,150.00
             0.00,232.84 67.16,300.00 150.00,300.00
             232.84,300.00 300.00,232.84 300.00,150.00
             300.00,67.16 232.84,0.00 150.00,0.00 Z
           M 230.09,172.44
           C 220.17,209.52 186.29,236.92 146.12,236.92
             98.19,236.92 59.20,197.93 59.20,150.00
             59.20,102.06 98.19,63.08 146.12,63.08
             168.03,63.08 188.05,71.23 203.35,84.66
             203.35,84.66 189.71,108.28 189.71,108.28
             178.71,96.79 163.24,89.62 146.12,89.62
             112.82,89.62 85.74,116.70 85.74,149.99
             85.74,183.29 112.82,210.37 146.12,210.37
             171.48,210.37 193.23,194.65 202.15,172.44
             202.15,172.44 181.39,172.44 181.39,172.44
             181.39,172.44 217.56,109.80 217.56,109.80
             217.56,109.80 253.72,172.44 253.72,172.44
             253.72,172.44 230.09,172.44 230.09,172.44
             230.09,172.44 230.09,172.44 230.09,172.44 Z";
	-fx-background-color: white; 
}